*{ box-sizing: border-box; font-family: monospace, Helvetica, sans-serif; }
main{
    background-color: #fff8dc;
    text-align: center;
    padding: 2.5rem;
    margin: 3.8rem;
}
footer{
    background-color: #0a0a0a;
    color: #f0ffff;
    text-align: center;
    padding: 0.6rem;
}