{% extends 'base.html' %}
{% block content %}
    <head><style>main{ background-color: #cffdaa; }</style></head>
    <h1>{{username}}'s Tasks (To-Do List)</h1>

    <section id="taskListSection">
        <ul id="taskList"></ul>
    </section>

    <section id="addTaskSection" class="addForm">
        <section>
            Task: <input type="text" name="task" id="addTaskTitle" placeholder="Describe the task..." required>
        </section>
        <section>
            Category:
            <select name="category" id="addTaskCategory">
                <option value="academic">Academic</option>
                <option value="personal">Personal</option>
                <option value="occupational">Occupational</option>
                <option value="etc">Etc</option>
            </select>
        </section>
        <section>
            Due Date: <input type="datetime-local" name="due" id="addTaskDue">
        </section>
        <section>
            Reminder: <input type="datetime-local" name="remind" id="addTaskRemind">
        </section>
        <button type="submit" id="addTask" class="btnSubmit" onclick="addTask()">Add Task</button>
    </section>

    <p><a href="{{url_for('dashboard')}}">Back to Dashboard</a></p>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            loadTasks();
        });
    </script>
{% endblock %}