{% extends 'base.html' %}
{% block content %}
    <head><style>main{ background-color: #cffdaa; }</style></head>
    <h1>{{username}}'s Tasks (To-Do List)</h1>

    <button onclick="showAddForm('${title}', '${cat}', '${due}', '${remind}')">Show Add Task Form</button>
    <section id="taskAddSection" style="display: none;">
    <form method="post" class="login_form">
        <section>
            Title: <input type="email" name="task" id="addTaskTitle" placeholder="Describe the task..." required>
        </section>
        
        <section>
            Category:
            <select id="addTaskCategory">
                <option>Academic</option>
                <option>Personal</option>
            </select>
        </section>

        <section>
            Due Date: <input type="date" name="due" id="addTaskDue" required>
        </section>

        <section>
            Reminder: <input type="date" id="addTaskRemind" name="remind">
        </section>

        <button type="submit" id="addTask">Add Task</button>
    </form>
    </section>

    <p><a href="{{url_for('dashboard')}}">Back to Dashboard</a></p>

    <script>
        function showAddForm(title, cat, due, remind){
            document.querySelector("#taskAddSection").style.display = "block"
            document.querySelector("#addTaskTitle").value = title
            document.querySelector("#addTaskCategory").value = cat
            document.querySelector("#addTaskDue").value = due
            document.querySelector("#addTaskRemind").value = remind 
        }
    </script>
{% endblock %}